<footer class="footer">
    <nav class="menu">
      <a class="btn-link" href="https://fastruby.io/#quotes">Our Team</a>
      <a class="btn-link" href="https://fastruby.io/#faq">FAQs</a>
      <a class="btn-link" href="https://fastruby.io/#clients">Our Clients</a>
      <a class="btn-link" href="https://fastruby.io/#contact-us">Contact Us</a>
    </nav>
    <div id="block-container">
      <div id="bloc1">
        <h2 class="productized-footer">AuditTool is a productized service by </h2>
      </div>
      <div id="bloc2" class="logo-container-footer">
        <h3 class="logo-footer">
          <a href="https://www.ombulabs.com" target="_blank" title="The Lean Software Boutique">
            <span class="logo-ombu-footer">Ombu</span>Labs
          </a>
        </h3>
        <h2 class="slogan-footer">
          <a href="https://www.ombulabs.com" target="_blank" title="Ombu Labs">
            THE LEAN SOFTWARE BOUTIQUE
          </a>
        </h2>
      </div>
    </div>
</footer>
