<footer class="footer">
    <div id="block-container">
      <div id="bloc1">
        <h2 class="productized-footer">This report was made with <a href="https://audit.fastruby.io/" target="_blank" title="Ombu Labs"> 
        Audit Tool by Ombulabs
      </a> </h2>
      </div>
    </div>
</footer>
