<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vulnerable Gems</title>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="brand-title">Vulnerable Gems</span>
      </button>
    </nav>

    <div class="container">
      <div class="jumbotron">
        <h1>Upload your Gemfile.lock</h1>
        <p class="lead">When you upload your Gemfile.lock, this website will check it and return a list of gems that are vulnerable.</p>

        <%= form_for @file, html: { multipart: true } do |form| %>
          <%= form.file_field :file %>
          <%= form.submit "Check My Gemfile &raquo;".html_safe, class: "btn btn-lg btn-primary", id: "button" %>
        <% end %>
        <br/>
      </div>
    </div>

    <div class="navbar navbar-fixed-bottom" id="copyright">A MicroSite by Ombu Labs</div>

  </body>
</html>
