<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vulnerable Gems</title>
  </head>

  <body>

    <div class="container">
      <div class="jumbotron">
        <h1 class="main-title">Upload your Gemfile.lock</h1>
        <p class="lead">When you upload your Gemfile.lock, this website will check it and return a list of gems that are vulnerable.</p>

        <%= form_for @file, html: { multipart: true } do |form| %>
          <%= form.file_field :file %>
          <div><%= form.submit "Check My Gemfile &raquo;".html_safe, id: "check_button" %></div>
        <% end %>
        <br/>
      </div>
    </div>

  </body>
</html>
