// Font Variables
$light: 300;
$medium: 500;
$bold: 900;

// Source Code Font
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,500,900&display=swap');

@mixin source-code-light{
  font-family: $font-source-code;
  font-weight: $light;
}

@mixin source-code-medium{
  font-family: $font-source-code;
  font-weight: $medium;
}

@mixin source-code-black{
  font-family: $font-source-code;
  font-weight: $bold;
}

body{
  @include source-code-medium;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.36px;
  text-align: center;
  overflow-x: hidden;
}

p{
  font-size: 0.875rem;
  line-height: 1.42;
  letter-spacing: 0.7px;
  margin-bottom:  1.625rem;
  @include respond-above(xs) {
    font-size: 1rem;
  }
}

h1 {
  @include source-code-black;
  font-size: 1.75rem;
  line-height: 1.08;
  letter-spacing: 1.18px;
  margin-bottom:  2rem;
  @include respond-above(sm) {
    font-size: 2.625rem;
    margin-bottom:  3rem;
  }
  @include respond-above(md) {
    font-size: 3.25rem;
    line-height: 1.25;
    margin-bottom:  4rem;
  }
}

h2 {
  @include source-code-light;
  font-size: 1rem;
  line-height: 1.32;
  letter-spacing: 0.5px;
  margin-bottom:  1.625rem;
  @include respond-above(xs) {
    font-size: 1rem;
  }
  @include respond-above(sm) {
    font-size: 1.375rem
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.underlined{
  border-bottom: 3px solid $yellow;
  display: inline;
  padding-bottom: 1rem;
}

ul, ol{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
    display: inline-block;
    padding: 0 1rem;
    @include source-code-black;
  }
}

code, pre {
  font-family: monospace;
  color: $black;
  background-color: rgba($grey, .1);
  padding: 1rem;
}

code{
  padding: 0;
}

