.section__bg{
	position: absolute;
	height: 100%;
	display: none;
	overflow: hidden;
	align-items: center;
	@include respond-above(xs) {
		display: block;
	}
	@include respond-above(sm) {
		min-height: 689px;
	}
	@include respond-above(md) {
		min-height: 850px;
	}
	@include respond-above(lg) {
		min-height: 765px;
	}
	img{
		position: absolute;
		z-index: 9;
	}
	span{
		height: 100%;
		width: 50vw;
		display: block;
		position: relative;
		@include respond-above(xs) {
			&.section__bg--xs{ display: block; }
			&.section__bg--sm{ display: none; }
			&.section__bg--md{ display: none; }
	    &.section__bg--lg{ display: none; }
		}
    @include respond-above(sm) {
    	&.section__bg--xs{ display: none; }
    	&.section__bg--sm{ display: block; }
    	&.section__bg--md{ display: none; }
    	&.section__bg--lg{ display: none; }
		}
		@include respond-above(md) {
			&.section__bg--xs{ display: none; }
			&.section__bg--sm{ display: none; }
			&.section__bg--md{ display: block; }
	    &.section__bg--lg{ display: none; }
		}
    @include respond-above(lg) {
    	&.section__bg--xs{ display: none; }
    	&.section__bg--sm{ display: none; }
    	&.section__bg--md{ display: none; }
    	&.section__bg--lg{ display: block; }
		}
	}
	&.section__bg--left{
		left: 0;
	}
	&.section__bg--right{
		right: 0;
	}
}