// Buttons
.btn{
  background-color: $green;
  color: $white;
  text-align: center;
  padding: 1.22rem 3rem;
  border-radius: 0;
  @include source-code-black;
  transition: $transition;
  text-transform: uppercase;
  text-decoration: none;
  overflow-wrap: break-word;
  outline: none;
  border: 0;
  &:hover, &:active, &:focus{
    background-color: darken( $green, 10% );
    color: $white;
    transition: $transition;
    outline: none;
  }
  @include respond-above(sm) {
    font-size: 1rem;
  }
  &.btn-readmore{
    background-color: $white;
    border: 1px solid $red;
    color: $red;
  }
}

.btn-link{
  color: $black;
  text-decoration: underline;
  transition: $transition;
  padding: 0 0 0 3rem;
  &:hover{
    color: $green;
    transition: $transition;
    text-decoration: none;
  }
  @include respond-above(sm) {
    font-size: 1rem;
  }
  &.active{
    color: $green;
    text-decoration: none;
    cursor: default;
  }
}
.top-top{
  position: absolute;
  z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    a{
      display: block;
    }
}
a{
  color: $green;
  text-decoration: underline;
  &:hover{
    color: $green;
    text-decoration: none;
  }
}
