.btn-audit {
  display: block;
  background-color: #28a745;
  background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
  color: #fff;
  font-family: $Open;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  padding: 10px 30px;
  transition: 0.5s;
  text-decoration: none;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $green;
    background-image: none;
  }
  &:disabled{
    opacity: .5;
    cursor: default;
    border: none;
  }
  &.yellow {
    background-color: $yellow;
    color: $red;
    width: 50%;
    margin-top: 30px;
    &:hover {
      background-color: $white;
    }
  }
}
.btn-audit-link{
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    color: #F70A7C;
  }
}