footer {
	background: $grey;
	color: $white;
	position: relative;
	text-align: center;
	padding-top: 5rem ;
	padding-bottom: 10px;
  	overflow: hidden;
	.logo-footer a{
		color: $white
	}
	.logo-container-footer{
		width: 220px;
		margin: auto;
		.slogan-footer{
			color: $white;
		}
		a, a:visited {
			color: $white;
		}
	}
	#block-container {
		text-align: center;
		margin-top: 4rem;
	}
	#bloc1, #bloc2 {
		display: inline-block;
	}
	.logo-footer {
	  	background-image: asset-url('isotype_vector.svg');
		background-repeat: no-repeat;
		background-position: left center;
		width: 100px;
		height: 35px;
		font-style: normal;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-align: left;
		padding-left: 40px;
		background-size: auto 90%;
		padding-top: 0px;
		font-size: 1.8rem;
		a {
			text-decoration: none;
			top: -4px;
    		position: relative;
		}
	}
	.productized-footer {
		font-weight: 300;
		letter-spacing: 1px;
		text-transform: none;
		margin-bottom: 15px;
		margin-right: 10px;
		color: $white;
		font-size: .7rem;
	}
	.slogan-footer {
		font-weight: 300;
		color: $yellow !important;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-decoration: underline;
		margin-top: 0;
		float: left;
		padding-left: 40px;
		text-align: left;
		font-size: .5rem;
	}
	.logo-ombu-footer {
		color: $magenta;
	}
	.menu{
		a{	
			display: block;
			text-decoration: underline;
			padding: 2px 0;
			color: lighten($grey, 30%);
			&:hover{
				color: $green;
			}
			&.active{
				color: $green;
				text-decoration: none;
				cursor: default;
			}
		}
	}
}
