.form-error {
  color: $red;
  padding: 1rem 2rem;
  border: 2px solid $red;
  color: $black;
  text-align: left;
  margin: 1em 0;
  i {
    color: $yellow;
  }
}

.success-message{
  background-color: $green;
  color: $white;
  padding: 10px;
  height: 27px;
}

.error-explanation{
  background-color: $red;
  color: $white;
  padding: 10px;
  height: 27px;
}

.form-success{
  text-align: left;
  padding: 2rem;
  border: 2px solid $green;
  color: $black;
}

#validation-box{
  width: 100%;
}

.g-recaptcha {
  margin-bottom: 1em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  div {
    @include respond-above(sm) {
      width: 100% !important;
    }
  }
}

form {
  margin: 3rem 0 0 0;
  position: relative;
  .check_button{
    display: none;
    position: absolute;
    top: 63px;
    left: 0;
    right: auto;
    min-width: 100%;
    border: none;
    @include respond-above(sm) {
      top: 0;
      right: 0;
      left: auto;
      min-width: 206px;
    }
  }
  .file{
    width:100%;
    input{
      // min-width: 36rem;
      margin: 0;
      opacity: 0;
      height: 63px;
      width: 100%;
      outline: none;
      cursor: pointer;
    }
    .file-custom{
      position: absolute;
      overflow: hidden;
      top: 0px;
      right: 0;
      left: 0;
      z-index: -1;
      height: 63px;
      background-color: rgba($light-grey, .58);
      border-bottom: 3px solid $green;
      padding: 1.2rem 2rem;
      text-align: left;
      color: $light-grey;
    }
    .file-upload{
      position: absolute;
      top: 63px;
      left: 0;
      right: auto;
      bottom: 0;
      z-index: 0;
      border: none;
      height: 63px;
      min-width: 100%;
      @include respond-above(sm) {
        top: 0;
        right: 0;
        left: auto;
        min-width: 206px;
      }
    }
  }
}
