.section{
    padding: 6rem 1rem;
    @include respond-above(md) {
        padding: 6rem 0rem;
    }
    &.section__full{
        padding: 0;
        height: 100vh;
    	width: 100vw;
        min-height: calc(100vh - 80px);
        // max-height: 767px;
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        @include respond-above(sm) {
        	min-height: calc(689px - 100px);
    	}
    	@include respond-above(md) {
        	min-height: calc(850px - 100px);
    	}
        @include respond-above(lg) {
        	min-height: calc(765px - 100px);
    	}
    }
    .section__content{
        position: relative;
        z-index: 888;
        p{
            &:last-child{
                margin-bottom: 0;
            }
            img{
                max-width: 100%;
                margin: 2rem 0;
            }
        }
    }
}