// Colors
$black: #000000;
$white: #ffffff;
$red: #ef201b;
$yellow: #fdca31;
$yellow_ombu: #ffcc00;
$grey: #29292c;
$grey_medium: #323235;
$grey_light: #b2b2bc;
$green: #33E46D;
$magenta: #ec037c;

// Breakpoint
$breakpoint_500px: 500px;
$breakpoint_768px: 768px;
$breakpoint_960px: 960px;
