.title {
  font-weight: 400;
  font-size: 35pt;
}

.section-title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 16pt;
  text-transform: uppercase;
}

#not_vulnerable {
  color: #D9F1F1;
}

#vulnerable {
  color: #F70A7C;
}

.advisory_title {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14pt;
  text-transform: uppercase;
  color: #FFCC00
}

.subtitle {
  font-weight: bold;
  margin-right: 6px;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.btn {
  font-weight: bold!important;
  background-color: #57CE81;
  color: #fdfcfc;
  margin-bottom: 2em;
  margin-top: 2em;
}

.btn:hover {
  background-color: #58ff93;
  color: #272727;
}
.call-to-actions {
  display: inline-block;

  button.check_button {
    float: left;
  }

  #check_another {
    display: inline-block;
    margin-top: 2.7em;
  }
}

#check_another {
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 15px;
  text-decoration: underline;
}

#check_another:hover {
  text-decoration: none;
  color: #F70A7C;
}
