.title {
  font-weight: bold;
}

#green {
  color: #178e2d;
}

#red {
  color: #b31f1f;
}

.advisory_title {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #8b0000
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
