.title {
  font-weight: 300;
  font-size: 41pt;
}

.section-title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 16pt;
  text-transform: uppercase;
}

#green {
  color: #D9F1F1;
}

#red {
  color: #FFCC00;
}

.advisory_title {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14pt;
  text-transform: uppercase;
  color: #F70A7C
}

.subtitle {
  font-weight: bold;
  margin-right: 6px;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
