// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Show it's not fixed to the top */
body {
  min-height: 75rem;
}

.brand-title{
  width: 160px;
  font-weight: bold;
}
